<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Imageboard</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200;300&family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <form @submit="handleSubmit" method="post" action="/image" enctype="multipart/form-data">
            <div class="mini-container">
                <div class="input-group">
                    <input class="effect-1" v-model="title" name="title" placeholder="title" />
                    <span class="underline"></span>
                </div>
            <!-- <input-field placeholder="title" @change="onTitleChange"></input-field> -->

                <div class="input-group">
                    <input class="effect-1" v-model="username" name="username" placeholder="username" />
                    <span class="underline"></span>
                </div>
                <div class="input-group">
                    <input class="effect-1" v-model="description" name="description" placeholder="description" />
                    <span class="underline"></span>
                </div>
                <input id="file-choose" @change="handleFileChange" name="image" type="file" accept="image/*" />
                <button>Upload</button>
            </div>

        </form>
        <h1>Imageboard</h3>
        <div class="container">
            <div @click="selectedPic(item.id)" class="imgs"  v-for="item in images">
                <img :src="item.url">{{item.title}}
            </div>
            <div :class="{ modal: modal }"> 
                <user-detail  class="modal-image" v-if="selectedUser" @upprev="previous" @upnext="next" @close="onClose" :id="selectedUser" >
                </user-detail>
            </div>
        </div>    
        <button :class="{ invisible: !seen }" @click="moreImgs" class="more-button" >more results</button>
    </main>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>
