* {
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 231, 231);
    font-family: "Martel", serif;
}

form{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
    /* grid-template-rows: 1fr 2fr 1fr; */
    gap: 30px 20px;
    /* display: flex;
    gap: 5%; */
}

.imgs {
    height: 350px;
    width: 400px;
    /* border: 0.5px solid rgb(112, 108, 108); */
    border-radius: 12px;
    text-align: center;
    background-color: white;
}

.imgs img {
    padding: 10px;
    height: 300px;
    width: 400px;
    object-fit: cover;
}

@font-face {
    font-family: "libre-bodoni.regular";
    src: url("libre-bodoni.regular.ttf");
}
